# .NET
bin/
obj/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac
.DS_Store

# NuGet
packages/
*.nupkg

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
